@page
@model Blog.Pages.Admin.Articles.AddModel

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
  <div class="container">
    <h1>Add article</h1>
  </div>
</div>

<div>
  <div class="container">
    <form method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" asp-for="Dto.Title" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" asp-for="Dto.Description" required>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" asp-for="Dto.Content" required></textarea>
      </div>
      <div class="mb-3">
        <label for="file" class="form-label">Image upload</label>
        <input type="file" id="file" asp-for="FileImage">
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" asp-for="Dto.ImageUrl" required>
        <img src="" id="image" style="display: none; width: 300px;">
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" asp-for="Dto.Slug" required>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" asp-for="Dto.Author" required>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="visible" asp-for="Dto.Visible">
        <label for="visible" class="form-check-label">Visible</label>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit" name="go" id="author">
      </div>
    </form>
  </div>
</div>

@section Scripts {
  <script>
    var editor = new FroalaEditor('#content', {
      imageUploadURL: '/api/image'
    })

    const file = document.getElementById('file')
    const imageUrl = document.getElementById('imageUrl')
    const image = document.getElementById('image')
    file.addEventListener('change', async (e) => {
      let data = new FormData()
      data.append('file', e.target.files[0])
      await fetch('/api/v1/image', {
        method: 'POST',
        headers: {
          'Accept': '*/*'
        },
        body: data
      }).then(response => response.json())
      .then(result => {
        imageUrl.value = result.link
        image.style.display = 'block'
        image.src = result.link
      })
    })
  </script>
}
