@page "{id:Guid}"
@model Blog.Pages.Admin.Articles.EditModel

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
  <div class="container">
    <h1>Edit article</h1>
  </div>
</div>

@{
  var message = (string?) ViewData["Message"];
}

@if(!string.IsNullOrWhiteSpace(message))
{
  <div class="container mb-5">
    <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
      @Html.Raw(message)
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  </div>
}

<div>
  <div class="container">
    @if (@Model.Article != null)
    {
    <form method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Id</label>
        <input type="text" class="form-control" id="id" asp-for="Article.Id" readonly>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" asp-for="Article.Title">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" asp-for="Article.Description">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" asp-for="Article.Content"></textarea>
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" asp-for="Article.ImageUrl">
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" asp-for="Article.Slug">
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" asp-for="Article.Author">
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="visible" asp-for="Article.Visible">
        <label for="visible" class="form-check-label">Visible</label>
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" name="edit" asp-page-handler="Edit">Edit</button>
        <button class="btn btn-danger" type="submit" name="delete" asp-page-handler="Delete">Delete</button>
      </div>
    </form>
    } else
    {
      <p>Article not found</p>
    }
  </div>
</div>
